aside.sidebar#sidebar
	include filter/price
	include filter/brand
	include filter/color
	include filter/body-weight
	include filter/cpu-cores
	include filter/cpu-type
	include filter/screen-size
	include filter/operation-system
	include filter/cellular
	include filter/ram


