.sidebar__item
	.sidebar__header
		p.sidebar__title Body Weight
		i.sidebar__icon
	.sidebar__content
		.filter-check.sidebar__list
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-159
				label(for="checkbox-159").filter-check__lable 159
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-140
				label(for="checkbox-140").filter-check__lable 140
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-150
				label(for="checkbox-150").filter-check__lable 150
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-165
				label(for="checkbox-165").filter-check__lable 165