.sidebar__item.is-active
	.sidebar__header
		p.sidebar__title Brand
		i.sidebar__icon
	.sidebar__content
		.filter-check.sidebar__list
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-apple
				label(for="checkbox-apple").filter-check__lable Apple
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-sony
				label(for="checkbox-sony").filter-check__lable Sony
			.filter-check__item
				input(type="checkbox" checked).filter-check__input#checkbox-asus
				label(for="checkbox-asus").filter-check__lable Asus
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-lg
				label(for="checkbox-lg").filter-check__lable LG
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-lenovo
				label(for="checkbox-lenovo").filter-check__lable Lenovo
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-meizu
				label(for="checkbox-meizu").filter-check__lable Meizu
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-xiaomi
				label(for="checkbox-xiaomi").filter-check__lable Xiaomi
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-htc
				label(for="checkbox-htc").filter-check__lable HTC
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-samsung
				label(for="checkbox-samsung").filter-check__lable Samsung
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-fly
				label(for="checkbox-fly").filter-check__lable FLY
		button.sidebar-btn__all SHOW MORE