.sidebar__item
	.sidebar__header
		p.sidebar__title Cellular
		i.sidebar__icon
	.sidebar__content
		.filter-check.sidebar__list
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-2g
				label(for="checkbox-2g").filter-check__lable 2G
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-2g-gprs
				label(for="checkbox-2g-gprs").filter-check__lable 2G (GPRS / EDGE)
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-3g
				label(for="checkbox-3g").filter-check__lable 3G
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-3g-umts
				label(for="checkbox-3g-umts").filter-check__lable 3G (UMTS, HSUPA, HSPA)
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-3g-wcdma
				label(for="checkbox-3g-wcdma").filter-check__lable 3G (WCDMA)
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-3g-hspa
				label(for="checkbox-3g-hspa").filter-check__lable 3G (WCDMA / UMTS / HSPA)
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-4g
				label(for="checkbox-4g").filter-check__lable 4G
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-cdma
				label(for="checkbox-cdma").filter-check__lable CDMA
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-gprs
				label(for="checkbox-gprs").filter-check__lable GPRS
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-gsm
				label(for="checkbox-gsm").filter-check__lable GSM
		button.sidebar-btn__all SHOW MORE