.sidebar__item.is-active
	.sidebar__header
		p.sidebar__title Color
		i.sidebar__icon
	.sidebar__content
		.filter-check.sidebar__list
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-ivory
				label(for="checkbox-ivory").filter-check__lable Ivory
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-deepgrey
				label(for="checkbox-deepgrey").filter-check__lable Deep Grey
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-coffee
				label(for="checkbox-coffee").filter-check__lable Coffee
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-red
				label(for="checkbox-red").filter-check__lable Red
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-pink
				label(for="checkbox-pink").filter-check__lable Pink
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-yellow
				label(for="checkbox-yellow").filter-check__lable Yellow
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-green
				label(for="checkbox-green").filter-check__lable Green
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-black
				label(for="checkbox-black").filter-check__lable Black
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-orange
				label(for="checkbox-orange").filter-check__lable Orange
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-blue
				label(for="checkbox-blue").filter-check__lable Blue
		button.sidebar-btn__all SHOW MORE