.sidebar__item
	.sidebar__header
		p.sidebar__title CPU Type
		i.sidebar__icon
	.sidebar__content
		.filter-check.sidebar__list
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-kirin
				label(for="checkbox-159").filter-check__lable Cortex-A73
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-cortex-a53
				label(for="checkbox-cortex-a53").filter-check__lable Cortex-A53
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-cortex-a52
				label(for="checkbox-cortex-a52").filter-check__lable Cortex-A52
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-cortex-a51
				label(for="checkbox-cortex-a51").filter-check__lable Cortex-A51