.sidebar__item
	.sidebar__header
		p.sidebar__title CPU Cores
		i.sidebar__icon
	.sidebar__content
		.filter-check.sidebar__list
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-kirin
				label(for="checkbox-159").filter-check__lable HiSilicon Kirin
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-exynos
				label(for="checkbox-exynos").filter-check__lable Samsung Exynos
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-apple
				label(for="checkbox-apple").filter-check__lable Apple Bionic
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-mediatek
				label(for="checkbox-mediatek").filter-check__lable Mediatek