.sidebar__item
	.sidebar__header
		p.sidebar__title Operation System
		i.sidebar__icon
	.sidebar__content
		.filter-check.sidebar__list
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-android
				label(for="checkbox-android").filter-check__lable Android
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-blackberry
				label(for="checkbox-blackberry").filter-check__lable BlackBerry
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-meego
				label(for="checkbox-meego").filter-check__lable MeeGo
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-nucleus
				label(for="checkbox-nucleus").filter-check__lable Nucleus
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-oxigen
				label(for="checkbox-oxigen").filter-check__lable Oxigen
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-symbian
				label(for="checkbox-symbian").filter-check__lable Symbian
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-ios
				label(for="checkbox-ios").filter-check__lable IOS