.sidebar__item.is-active
	.sidebar__header
		p.sidebar__title Price
		i.sidebar__icon
	.sidebar__content
		.filter-price__wrap
			.filter-price.sidebar__filter-price#filter-price
			.filter-price__inner
				input.filter-price__input#filter-price__min
				span.filter-price__divider
				input.filter-price__input#filter-price__max