.sidebar__item
	.sidebar__header
		p.sidebar__title Ram
		i.sidebar__icon
	.sidebar__content
		.filter-check.sidebar__list
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-10gb
				label(for="checkbox-10gb").filter-check__lable 10GB
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-12gb
				label(for="checkbox-12gb").filter-check__lable 12GB
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-2gb
				label(for="checkbox-2gb").filter-check__lable 2GB
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-3gb
				label(for="checkbox-3gb").filter-check__lable 3GB
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-4gb
				label(for="checkbox-4gb").filter-check__lable 4GB
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-6gb
				label(for="checkbox-6gb").filter-check__lable 6GB
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-8gb
				label(for="checkbox-8gb").filter-check__lable 8GB
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-1gb
				label(for="checkbox-1gb").filter-check__lable 1GB
			.filter-check__item