.sidebar__item
	.sidebar__header
		p.sidebar__title Screen Size
		i.sidebar__icon
	.sidebar__content
		.filter-check.sidebar__list
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-4
				label(for="checkbox-4").filter-check__lable 4.1" - 4.5"
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-4-5
				label(for="checkbox-4-5").filter-check__lable 4.5" - 5"
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-5
				label(for="checkbox-5").filter-check__lable 5.1" - 5.5"
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-5-5
				label(for="checkbox-5-5").filter-check__lable 5.55" - 6"
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-6
				label(for="checkbox-6").filter-check__lable 6" - 6.49"
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-6-5
				label(for="checkbox-6-5").filter-check__lable 6.5" - more
			.filter-check__item
				input(type="checkbox").filter-check__input#checkbox-upto-4
				label(for="checkbox-upto-4").filter-check__lable up to 4