// Colors
$mainFontColor: #666666;
$borderColor: #f5f5f5;
$linkColor: #808080;
$placeholderColor: #b2b2b2;
$breacrumbsColor: #ccc;

// Sizes
$base-font-size: 14px;

$content-size: 1110px;

// Fonts
$mainFont: 'Roboto', sans-serif;