// Colors
$mainFontColor: #666666;
$borderColor: #f5f5f5;
$linkColor: #808080;
$placeholderColor: #b3b3b3;
$breacrumbsColor: #ccc;
$activeColor: #1875f0;

// Sizes
$base-font-size: 14px;

$content-size: 1110px;

// Fonts
$mainFont: "Roboto", sans-serif;
