footer.footer
	.footer-top
		.container
			a(href="#").logo.footer-top__logo QUANTUM
			include ../navigation/footer-nav
			.footer-top__social.social
				ul.social__list
					li.social__item
						a.social__link(href="#")
							i.social__icon.social__icon--facebook
					li.social__item
						a.social__link(href="#")
							i.social__icon.social__icon--twitter
					li.social__item
						a.social__link(href="#")
							i.social__icon.social__icon--instagram
					li.social__item
						a.social__link(href="#")
							i.social__icon.social__icon--youtube
	.footer-bottom
		.container
			.footer-bottom__col
				p.footer-copyright © 2016. Quantum UI kit
				ul.footer-help
					li.footer-help__item
						a(href="#").footer-help__link Privacy Policy
					li.footer-help__item
						a(href="#").footer-help__link Terms of Use
			.footer-payments
				p.footer-payments__text Accepted payment methods
				ul.footer-payments__list
					li.footer-payments__item
						img.footer-payments__img(src="img/payments/visa.png", alt="")
					li.footer-payments__item
						img.footer-payments__img(src="img/payments/master-card.png", alt="")
					li.footer-payments__item
						img.footer-payments__img(src="img/payments/pay-pal.png", alt="")
					li.footer-payments__item
						img.footer-payments__img(src="img/payments/amazon.png", alt="")