header {
  flex: 0 0 auto;
}

.header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.header-top {
  padding: 30px 0 40px;

  .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 60px;
  }

  &__search {
    margin-right: 65px;
  }

  &__actions {
    display: flex;
    align-items: center;

    &>* {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }

    .actions__link {
      height: 20px;
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .mobile-menu {
    margin-left: auto;
  }
}

.header-main {
  border-top: 1px solid $borderColor;

  .container {
    display: flex;
    align-items: center;
  }

  .catalog-nav {
    border-right: 1px solid $borderColor;
    border-left: 1px solid $borderColor;
    padding: 0px 30px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-left: auto;

    .info__item {
      height: 60px;
    }
  }

  .info__item {
    border-right: 1px solid $borderColor;

    &:first-child {
      border-left: 1px solid $borderColor;
    }
  }

  .main-nav {
    &__list {
      display: flex;
      align-items: center;
      height: 60px;
    }
  }
}