.catalog-nav
	.catalog-nav__header
		.sandwich
			.sandwich__line.sandwich__line--top
			.sandwich__line.sandwich__line--middle
			.sandwich__line.sandwich__line--bottom
		span.catalog-nav__title All Categories
	ul.catalog-nav__list
		li.catalog-nav__item
			a(href="#").catalog-nav__link Mobile phones
		li.catalog-nav__item
			a(href="#").catalog-nav__link Mobile phones
		li.catalog-nav__item
			a(href="#").catalog-nav__link Mobile phones
		li.catalog-nav__item
			a(href="#").catalog-nav__link Mobile phones