nav.footer-nav.footer-top__nav
	ul.footer-nav__list
		li.footer-nav__item
			a.footer-nav__link(href="#") Shop
			i.footer-nav__arrow
			ul.footer-nav__drop.footer-drop
				li.footer-drop__item
					a.footer-drop__link(href="#") Link 1
				li.footer-drop__item
					a.footer-drop__link(href="#") Link 1
		li.footer-nav__item
			a.footer-nav__link(href="#") Journal
		li.footer-nav__item
			a.footer-nav__link(href="#") About
		li.footer-nav__item
			a.footer-nav__link(href="#") Contacts