nav.main-nav.header-main__main-nav
	ul.main-nav__list
		li.main-nav__item
			a.main-nav__link(href="#") Super Deals
		li.main-nav__item
			a.main-nav__link(href="#") Featured Brands
		li.main-nav__item
			a.main-nav__link(href="#") Collections
		li.main-nav__item
			a.main-nav__link(href="#") Bestselling