.products__item
	.products__top
		span.products__sale SALE 10%
		ul.tools.products__tools
			li.tools__item
				button.tools__btn
					i.tools__icon.tools__icon--list
			li.tools__item
				button.tools__btn
					i.tools__icon.tools__icon--like
	.products__img
		img(src="img/products/img-1.jpg", alt="")
	p.products__name Asus ZenFone Go ZB452KG (black and white)
	.rating.products__rating
		ul.rating__list
			li.rating__item 
				i.rating__icon.rating__icon--star
			li.rating__item 
				i.rating__icon.rating__icon--star
			li.rating__item 
				i.rating__icon.rating__icon--star
			li.rating__item 
				i.rating__icon.rating__icon--star-half
			li.rating__item 
				i.rating__icon.rating__icon--star-border
		span.rating__current 12
	.products-price__wrap
		span.products-price &#36; 384.4
		button.products-price__btn
			i.products-price__icon