extends template/main

block variables
	- var title = 'Главная страница'

block content
	include modules/breacrumbs/breacrumbs
	main.main
		.container
		.category-title__wrap
			h1.category-title Smartphones
			.sidebar



