extends template/main

block variables
	- var title = 'Главная страница'

block content
	include modules/breacrumbs/breacrumbs
	main.main.category__wrap
		.container
			h1.category__title Smartphones
			.category-flex
				include modules/sidebar/sidebar
				.category