.breacrumbs__wrap
	.container
		section.breacrumbs
			ul.breacrumbs__list
				li.breacrumbs__item
					a(href="#").breacrumbs__link Main
					i.breacrumbs__icon
				li.breacrumbs__item
					a(href="#").breacrumbs__link Mobile phones
					i.breacrumbs__icon
				li.breacrumbs__item
					a(href="#").breacrumbs__link Apple
					i.breacrumbs__icon
				li.breacrumbs__item
					span.breacrumbs__current Apple iPhone 7, 128 GB
		.share.breacrumbs__share
			p.share__title Share:
			.share__item
				i.share__icon.share__icon--facebook
				span.share__count 45
			.share__item
				i.share__icon.share__icon--twitter
				span.share__count 12