.rating {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: inline-block;
  }

  &__icon {
    display: block;

    &--star {
      @include sprite($star);
    }

    &--star-half {
      @include sprite($star-half);
    }

    &--star-border {
      @include sprite($star-border);
    }
  }

  &__current {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: $placeholderColor;
  }
}