header.header
	.header-top
		.container
			a(href="#").logo.header-top__logo QUANTUM
			.search.header-top__search
				form(action="").search-form
					input(placeholder="Search goods").search-form__input
					select(name="category")#search-category.search-form__select
						option(value disabled selected) Category
						option Category 1
						option Category 2
						option Category 3
						option Category 4
						option Category 5
					button.search-form__btn
						i.search-form__btn-icon
			ul.actions.header-top__actions
				li.actions__item
					a(href="#").actions__link
						i.actions__icon.actions__icon--cart
						span.actions__text 2 Items
				li.actions__item
					a(href="#").actions__link
						i.actions__icon.actions__icon--like
						span(href="#").actions__text Wish List
				li.actions__item
					a(href="#").actions__link
						i.actions__icon.actions__icon--user
						span(href="#").actions__text Sing in
	.header-main
		.container
			include ../navigation/catalog-nav
			include ../navigation/main-nav
			.info.header-main__info
				.info__item
					select.info__select(name="")
						option(value disabled selected) Help
						option() Option 1
						option() Option 2
						option() Option 3
				.info__item
					select.info__select(name="")
						option(value disabled selected) USD
						option() RUB
						option() UAH
						option() USD
				.info__item
					select.info__select(name="")
						option(value disabled selected) Language
						option() RU
						option() UA
						option() ENG