header.header
	.header-top
		.container
			a(href="#").logo.header-top__logo QUANTUM
			.search.header-top__search
				form(action="").search-form
					input(placeholder="Search goods").search-form__input
					select(name="category")#search-category.search-form__select
						option(value disabled selected) Category
						option Category 1
						option Category 2
						option Category 3
						option Category 4
						option Category 5
					input(type="submit", value="")
			ul.header-actions
				li.header-actions
					span.header-actions__icon.header-actions__icon--cart
					a(href="#").header-actions__text 2 Items
				li.header-actions
					span.header-actions__icon.header-actions__icon--list
					a(href="#").header-actions__text Wish List
				li.header-actions
					span.header-actions__icon.header-actions__icon--user
					a(href="#").header-actions__text Sing in