.sidebar {
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  width: 255px;
  flex: 0 0 255px;
  color: $mainFontColor;
  margin-right: 30px;
  padding-bottom: 10px;
  background-color: #fff;
  margin-bottom: 40px;

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    .sidebar__item.is-active & {
      max-height: 999px;
      transition: max-height 0.5s ease-in;
    }

    &.is-active {
      .sidebar-btn__all:before {
        content: "-";
      }

      .sidebar__list {
        max-height: 999px;
        transition: max-height 1s ease-in;
      }
    }
  }

  &__list {
    max-height: 160px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  &__item {
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid $borderColor;

    &:last-child {
      border: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px 0;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }

    .sidebar__item.is-active & {
      opacity: 0.5;
    }
  }

  &__icon {
    display: inline-block;
    transform: rotate(180deg);
    transition: 0.6s;
    @include sprite($sidebar-arrow);

    .sidebar__item.is-active & {
      transform: rotate(0deg);
    }
  }

  &-btn__all {
    position: relative;
    padding: 10px 0 10px 30px;
    font-size: 10px;
    font-weight: 900;
    color: $placeholderColor;
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;

    &:before {
      content: "+";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 12px;
    }
  }

  &-overlay {
    opacity: 0;
    width: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    transition: opacity 0.5s;
    z-index: 2;

    &.is-active {
      opacity: 1;
      width: 100%;
    }
  }
}



@import "filter-price";
@import "filter-check";