.catalog-nav {
  padding: 0px 30px;
  position: relative;
  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 60px;
    transition: 0.3s;
    & > * {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    .catalog-nav.is-active & {
      opacity: 0.5;
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &.is {
    &-active {
      .sandwich__line {
        &--top {
          top: 5px;
          transform: rotate(45deg);
        }
        &--middle {
          opacity: 0;
        }
        &--bottom {
          top: 5px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__title {
    color: $linkColor;
  }
  &__list {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    border-top: 1px solid $borderColor;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    .catalog-nav.is-active & {
      display: block;
    }
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }
  }
  &__link {
    padding: 15px 10px;
    display: block;
    text-align: center;
  }
}
