.catalog-nav {
	padding: 0px 30px;
	&__header {
		display: flex;
		align-items: center;
		cursor: pointer;
		height: 60px;
		& > * {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
	&__title {
		color: $linkColor;
	}
	&__list {
		display: none;
	}
}