.sandwich {
  cursor: pointer;
  height: 12px;
  position: relative;
  width: 23px;

  &__line {
    background-color: $linkColor;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all linear 0.4s;
    width: 100%;
    &--top {
      top: 0;
    }
    &--middle {
      top: 5px;
    }
    &--bottom {
      top: 10px;
    }
  }
}
