.category {
  width: 100%;
  padding-bottom: 30px;

  &__flex {
    display: flex;
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);

    &__filter-btn {
      display: none;
      background: none;
      margin-left: 20px;
      cursor: pointer;
      border: 1px solid $activeColor;
      color: $activeColor;
      border-radius: 4px;
      line-height: 25px;
      padding: 0 10px;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__view-mode {
    margin-left: auto;
  }
}

@import "sorter";
@import "view-mode";