.sorter {


  &__list {
    display: flex;
    align-items: center;
    height: 60px;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 25px;
    font-size: 13px;
    color: $linkColor;
		border-bottom: 2px solid transparent;
		cursor: pointer;
    &.is-active {
      color: $activeColor;
      border-bottom: 2px solid $activeColor;
    }
  }
}