.actions {
  &__link {
    display: flex;
    align-items: center;
  }
  &__text {
    vertical-align: middle;
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    &--cart {
      @include sprite($cart);
    }
    &--like {
      @include sprite($like);
    }
    &--user {
      @include sprite($user);
    }
  }
}
