// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-breacrumbs-name: 'arrow-breacrumbs';
$arrow-breacrumbs-x: 97px;
$arrow-breacrumbs-y: 15px;
$arrow-breacrumbs-offset-x: -97px;
$arrow-breacrumbs-offset-y: -15px;
$arrow-breacrumbs-width: 5px;
$arrow-breacrumbs-height: 8px;
$arrow-breacrumbs-total-width: 105px;
$arrow-breacrumbs-total-height: 87px;
$arrow-breacrumbs-image: '../img/sprite/sprite.png';
$arrow-breacrumbs: (97px, 15px, -97px, -15px, 5px, 8px, 105px, 87px, '../img/sprite/sprite.png', 'arrow-breacrumbs', );
$cart-name: 'cart';
$cart-x: 0px;
$cart-y: 0px;
$cart-offset-x: 0px;
$cart-offset-y: 0px;
$cart-width: 21px;
$cart-height: 20px;
$cart-total-width: 105px;
$cart-total-height: 87px;
$cart-image: '../img/sprite/sprite.png';
$cart: (0px, 0px, 0px, 0px, 21px, 20px, 105px, 87px, '../img/sprite/sprite.png', 'cart', );
$done-name: 'done';
$done-x: 52px;
$done-y: 75px;
$done-offset-x: -52px;
$done-offset-y: -75px;
$done-width: 10px;
$done-height: 9px;
$done-total-width: 105px;
$done-total-height: 87px;
$done-image: '../img/sprite/sprite.png';
$done: (52px, 75px, -52px, -75px, 10px, 9px, 105px, 87px, '../img/sprite/sprite.png', 'done', );
$facebook-name: 'facebook';
$facebook-x: 83px;
$facebook-y: 28px;
$facebook-offset-x: -83px;
$facebook-offset-y: -28px;
$facebook-width: 10px;
$facebook-height: 17px;
$facebook-total-width: 105px;
$facebook-total-height: 87px;
$facebook-image: '../img/sprite/sprite.png';
$facebook: (83px, 28px, -83px, -28px, 10px, 17px, 105px, 87px, '../img/sprite/sprite.png', 'facebook', );
$fb-name: 'fb';
$fb-x: 97px;
$fb-y: 0px;
$fb-offset-x: -97px;
$fb-offset-y: 0px;
$fb-width: 8px;
$fb-height: 15px;
$fb-total-width: 105px;
$fb-total-height: 87px;
$fb-image: '../img/sprite/sprite.png';
$fb: (97px, 0px, -97px, 0px, 8px, 15px, 105px, 87px, '../img/sprite/sprite.png', 'fb', );
$grid-active-name: 'grid-active';
$grid-active-x: 61px;
$grid-active-y: 17px;
$grid-active-offset-x: -61px;
$grid-active-offset-y: -17px;
$grid-active-width: 20px;
$grid-active-height: 13px;
$grid-active-total-width: 105px;
$grid-active-total-height: 87px;
$grid-active-image: '../img/sprite/sprite.png';
$grid-active: (61px, 17px, -61px, -17px, 20px, 13px, 105px, 87px, '../img/sprite/sprite.png', 'grid-active', );
$grid-name: 'grid';
$grid-x: 61px;
$grid-y: 30px;
$grid-offset-x: -61px;
$grid-offset-y: -30px;
$grid-width: 20px;
$grid-height: 13px;
$grid-total-width: 105px;
$grid-total-height: 87px;
$grid-image: '../img/sprite/sprite.png';
$grid: (61px, 30px, -61px, -30px, 20px, 13px, 105px, 87px, '../img/sprite/sprite.png', 'grid', );
$inst-name: 'inst';
$inst-x: 0px;
$inst-y: 59px;
$inst-offset-x: 0px;
$inst-offset-y: -59px;
$inst-width: 16px;
$inst-height: 16px;
$inst-total-width: 105px;
$inst-total-height: 87px;
$inst-image: '../img/sprite/sprite.png';
$inst: (0px, 59px, 0px, -59px, 16px, 16px, 105px, 87px, '../img/sprite/sprite.png', 'inst', );
$like-name: 'like';
$like-x: 20px;
$like-y: 40px;
$like-offset-x: -20px;
$like-offset-y: -40px;
$like-width: 20px;
$like-height: 19px;
$like-total-width: 105px;
$like-total-height: 87px;
$like-image: '../img/sprite/sprite.png';
$like: (20px, 40px, -20px, -40px, 20px, 19px, 105px, 87px, '../img/sprite/sprite.png', 'like', );
$list-active-name: 'list-active';
$list-active-x: 16px;
$list-active-y: 59px;
$list-active-offset-x: -16px;
$list-active-offset-y: -59px;
$list-active-width: 17px;
$list-active-height: 14px;
$list-active-total-width: 105px;
$list-active-total-height: 87px;
$list-active-image: '../img/sprite/sprite.png';
$list-active: (16px, 59px, -16px, -59px, 17px, 14px, 105px, 87px, '../img/sprite/sprite.png', 'list-active', );
$list-name: 'list';
$list-x: 33px;
$list-y: 59px;
$list-offset-x: -33px;
$list-offset-y: -59px;
$list-width: 17px;
$list-height: 14px;
$list-total-width: 105px;
$list-total-height: 87px;
$list-image: '../img/sprite/sprite.png';
$list: (33px, 59px, -33px, -59px, 17px, 14px, 105px, 87px, '../img/sprite/sprite.png', 'list', );
$page-next-active-name: 'page-next-active';
$page-next-active-x: 83px;
$page-next-active-y: 14px;
$page-next-active-offset-x: -83px;
$page-next-active-offset-y: -14px;
$page-next-active-width: 14px;
$page-next-active-height: 14px;
$page-next-active-total-width: 105px;
$page-next-active-total-height: 87px;
$page-next-active-image: '../img/sprite/sprite.png';
$page-next-active: (83px, 14px, -83px, -14px, 14px, 14px, 105px, 87px, '../img/sprite/sprite.png', 'page-next-active', );
$page-next-name: 'page-next';
$page-next-x: 83px;
$page-next-y: 0px;
$page-next-offset-x: -83px;
$page-next-offset-y: 0px;
$page-next-width: 14px;
$page-next-height: 14px;
$page-next-total-width: 105px;
$page-next-total-height: 87px;
$page-next-image: '../img/sprite/sprite.png';
$page-next: (83px, 0px, -83px, 0px, 14px, 14px, 105px, 87px, '../img/sprite/sprite.png', 'page-next', );
$page-prev-active-name: 'page-prev-active';
$page-prev-active-x: 64px;
$page-prev-active-y: 59px;
$page-prev-active-offset-x: -64px;
$page-prev-active-offset-y: -59px;
$page-prev-active-width: 14px;
$page-prev-active-height: 14px;
$page-prev-active-total-width: 105px;
$page-prev-active-total-height: 87px;
$page-prev-active-image: '../img/sprite/sprite.png';
$page-prev-active: (64px, 59px, -64px, -59px, 14px, 14px, 105px, 87px, '../img/sprite/sprite.png', 'page-prev-active', );
$page-prev-name: 'page-prev';
$page-prev-x: 50px;
$page-prev-y: 59px;
$page-prev-offset-x: -50px;
$page-prev-offset-y: -59px;
$page-prev-width: 14px;
$page-prev-height: 14px;
$page-prev-total-width: 105px;
$page-prev-total-height: 87px;
$page-prev-image: '../img/sprite/sprite.png';
$page-prev: (50px, 59px, -50px, -59px, 14px, 14px, 105px, 87px, '../img/sprite/sprite.png', 'page-prev', );
$price-cart-active-name: 'price-cart-active';
$price-cart-active-x: 21px;
$price-cart-active-y: 0px;
$price-cart-active-offset-x: -21px;
$price-cart-active-offset-y: 0px;
$price-cart-active-width: 20px;
$price-cart-active-height: 20px;
$price-cart-active-total-width: 105px;
$price-cart-active-total-height: 87px;
$price-cart-active-image: '../img/sprite/sprite.png';
$price-cart-active: (21px, 0px, -21px, 0px, 20px, 20px, 105px, 87px, '../img/sprite/sprite.png', 'price-cart-active', );
$price-cart-name: 'price-cart';
$price-cart-x: 0px;
$price-cart-y: 20px;
$price-cart-offset-x: 0px;
$price-cart-offset-y: -20px;
$price-cart-width: 20px;
$price-cart-height: 20px;
$price-cart-total-width: 105px;
$price-cart-total-height: 87px;
$price-cart-image: '../img/sprite/sprite.png';
$price-cart: (0px, 20px, 0px, -20px, 20px, 20px, 105px, 87px, '../img/sprite/sprite.png', 'price-cart', );
$search-name: 'search';
$search-x: 83px;
$search-y: 45px;
$search-offset-x: -83px;
$search-offset-y: -45px;
$search-width: 13px;
$search-height: 13px;
$search-total-width: 105px;
$search-total-height: 87px;
$search-image: '../img/sprite/sprite.png';
$search: (83px, 45px, -83px, -45px, 13px, 13px, 105px, 87px, '../img/sprite/sprite.png', 'search', );
$sidebar-arrow-name: 'sidebar-arrow';
$sidebar-arrow-x: 62px;
$sidebar-arrow-y: 75px;
$sidebar-arrow-offset-x: -62px;
$sidebar-arrow-offset-y: -75px;
$sidebar-arrow-width: 10px;
$sidebar-arrow-height: 6px;
$sidebar-arrow-total-width: 105px;
$sidebar-arrow-total-height: 87px;
$sidebar-arrow-image: '../img/sprite/sprite.png';
$sidebar-arrow: (62px, 75px, -62px, -75px, 10px, 6px, 105px, 87px, '../img/sprite/sprite.png', 'sidebar-arrow', );
$star-border-name: 'star-border';
$star-border-x: 40px;
$star-border-y: 40px;
$star-border-offset-x: -40px;
$star-border-offset-y: -40px;
$star-border-width: 20px;
$star-border-height: 19px;
$star-border-total-width: 105px;
$star-border-total-height: 87px;
$star-border-image: '../img/sprite/sprite.png';
$star-border: (40px, 40px, -40px, -40px, 20px, 19px, 105px, 87px, '../img/sprite/sprite.png', 'star-border', );
$star-half-name: 'star-half';
$star-half-x: 0px;
$star-half-y: 40px;
$star-half-offset-x: 0px;
$star-half-offset-y: -40px;
$star-half-width: 20px;
$star-half-height: 19px;
$star-half-total-width: 105px;
$star-half-total-height: 87px;
$star-half-image: '../img/sprite/sprite.png';
$star-half: (0px, 40px, 0px, -40px, 20px, 19px, 105px, 87px, '../img/sprite/sprite.png', 'star-half', );
$star-name: 'star';
$star-x: 41px;
$star-y: 0px;
$star-offset-x: -41px;
$star-offset-y: 0px;
$star-width: 20px;
$star-height: 19px;
$star-total-width: 105px;
$star-total-height: 87px;
$star-image: '../img/sprite/sprite.png';
$star: (41px, 0px, -41px, 0px, 20px, 19px, 105px, 87px, '../img/sprite/sprite.png', 'star', );
$tools-like-active-name: 'tools-like-active';
$tools-like-active-x: 41px;
$tools-like-active-y: 19px;
$tools-like-active-offset-x: -41px;
$tools-like-active-offset-y: -19px;
$tools-like-active-width: 20px;
$tools-like-active-height: 19px;
$tools-like-active-total-width: 105px;
$tools-like-active-total-height: 87px;
$tools-like-active-image: '../img/sprite/sprite.png';
$tools-like-active: (41px, 19px, -41px, -19px, 20px, 19px, 105px, 87px, '../img/sprite/sprite.png', 'tools-like-active', );
$tools-like-name: 'tools-like';
$tools-like-x: 20px;
$tools-like-y: 20px;
$tools-like-offset-x: -20px;
$tools-like-offset-y: -20px;
$tools-like-width: 20px;
$tools-like-height: 19px;
$tools-like-total-width: 105px;
$tools-like-total-height: 87px;
$tools-like-image: '../img/sprite/sprite.png';
$tools-like: (20px, 20px, -20px, -20px, 20px, 19px, 105px, 87px, '../img/sprite/sprite.png', 'tools-like', );
$tools-list-active-name: 'tools-list-active';
$tools-list-active-x: 16px;
$tools-list-active-y: 75px;
$tools-list-active-offset-x: -16px;
$tools-list-active-offset-y: -75px;
$tools-list-active-width: 18px;
$tools-list-active-height: 10px;
$tools-list-active-total-width: 105px;
$tools-list-active-total-height: 87px;
$tools-list-active-image: '../img/sprite/sprite.png';
$tools-list-active: (16px, 75px, -16px, -75px, 18px, 10px, 105px, 87px, '../img/sprite/sprite.png', 'tools-list-active', );
$tools-list-name: 'tools-list';
$tools-list-x: 34px;
$tools-list-y: 75px;
$tools-list-offset-x: -34px;
$tools-list-offset-y: -75px;
$tools-list-width: 18px;
$tools-list-height: 10px;
$tools-list-total-width: 105px;
$tools-list-total-height: 87px;
$tools-list-image: '../img/sprite/sprite.png';
$tools-list: (34px, 75px, -34px, -75px, 18px, 10px, 105px, 87px, '../img/sprite/sprite.png', 'tools-list', );
$tw-name: 'tw';
$tw-x: 83px;
$tw-y: 58px;
$tw-offset-x: -83px;
$tw-offset-y: -58px;
$tw-width: 14px;
$tw-height: 12px;
$tw-total-width: 105px;
$tw-total-height: 87px;
$tw-image: '../img/sprite/sprite.png';
$tw: (83px, 58px, -83px, -58px, 14px, 12px, 105px, 87px, '../img/sprite/sprite.png', 'tw', );
$twitter-name: 'twitter';
$twitter-x: 61px;
$twitter-y: 0px;
$twitter-offset-x: -61px;
$twitter-offset-y: 0px;
$twitter-width: 22px;
$twitter-height: 17px;
$twitter-total-width: 105px;
$twitter-total-height: 87px;
$twitter-image: '../img/sprite/sprite.png';
$twitter: (61px, 0px, -61px, 0px, 22px, 17px, 105px, 87px, '../img/sprite/sprite.png', 'twitter', );
$user-name: 'user';
$user-x: 61px;
$user-y: 43px;
$user-offset-x: -61px;
$user-offset-y: -43px;
$user-width: 16px;
$user-height: 16px;
$user-total-width: 105px;
$user-total-height: 87px;
$user-image: '../img/sprite/sprite.png';
$user: (61px, 43px, -61px, -43px, 16px, 16px, 105px, 87px, '../img/sprite/sprite.png', 'user', );
$yb-name: 'yb';
$yb-x: 0px;
$yb-y: 75px;
$yb-offset-x: 0px;
$yb-offset-y: -75px;
$yb-width: 16px;
$yb-height: 12px;
$yb-total-width: 105px;
$yb-total-height: 87px;
$yb-image: '../img/sprite/sprite.png';
$yb: (0px, 75px, 0px, -75px, 16px, 12px, 105px, 87px, '../img/sprite/sprite.png', 'yb', );
$spritesheet-width: 105px;
$spritesheet-height: 87px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($arrow-breacrumbs, $cart, $done, $facebook, $fb, $grid-active, $grid, $inst, $like, $list-active, $list, $page-next-active, $page-next, $page-prev-active, $page-prev, $price-cart-active, $price-cart, $search, $sidebar-arrow, $star-border, $star-half, $star, $tools-like-active, $tools-like, $tools-list-active, $tools-list, $tw, $twitter, $user, $yb, );
$spritesheet: (105px, 87px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
