section.products
	include product/prev-1
	include product/prev-2
	include product/prev-3
	include product/prev-4
	include product/prev-5
	include product/prev-6
	include product/prev-7
	include product/prev-8
	include product/prev-9